<md-card class="card">
  <md-card-title>Running Processes</md-card-title>

  <md-card-content>
    <ngx-datatable
      #table
      class="material expandable"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      (onRowClick)="toggleExpandRow($event.row)"
    >
      <ngx-datatable-row-detail [rowHeight]="56">
        <ng-template let-row="row">
          <div>
            <button md-raised-button color="warn" (click)="killProcess(row.pid); toggleExpandRow(row)" class="row-action-button">Kill</button>
            <button md-raised-button color="primary" (click)="toggleExpandRow(row)" class="row-action-button">Done</button>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
    </ngx-datatable>
  </md-card-content>
</md-card>

