<md-card class="card">
  <md-card-title>Running Processes</md-card-title>

  <md-card-content>
    <datatable
      #table
      class='material'
      [rows]='rows'
      [options]='options'
      (onRowClick)="table.toggleExpandRow($event.row)"
    >
      <datatable-row-detail-template>
        <template let-row="row">
          <div>
            <button md-raised-button color="warn" (click)="killProcess(row.pid)" class="row-action-button">Kill</button>
            <button md-raised-button color="primary" (click)="table.toggleExpandRow(row)" class="row-action-button">Done</button>
          </div>
        </template>
      </datatable-row-detail-template>
    </datatable>
  </md-card-content>
</md-card>

