.info {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1.6em;
}

.info > .description {
  min-width: 150px;
}

.info > .description strong {
  font-weight: 600;
}

.info > .text {
  min-width: 250px;
  max-width: 250px;
}
