<em-dashboard-card title="System information">
  <em-dashboard-card-content>
    <!--<div class="current">
      <div class="current-title">Current</div>
      <span class="current-element"><span class="current-label-big">Free</span><span class="current-value">{{current.free.toFixed(2)}} GB</span></span>
      <span class="current-element"><span class="current-label-big">Used</span><span class="current-value">{{current.used.toFixed(2)}} GB</span></span>
      <span class="current-element"><span class="current-label-big">Total</span><span class="current-value">{{current.total.toFixed(2)}} GB</span> </span>
    </div>!-->
    {{test}}
  </em-dashboard-card-content>
  <em-dashboard-card-chart><chart [options]="options"></chart></em-dashboard-card-chart>
</em-dashboard-card>
