@import "~@angular/material/core/style/_variables.scss";
@import "../../../theme.scss";

$icon-keyline: 16px;
$description-keyline: 72px;
$icon-size: $md-body-font-size-base;

.nav-list {
  font-family: "Roboto Medium", $md-font-family;
  font-size: 1.2 * $md-body-font-size-base;

  display: flex;
  flex-direction: column;

  padding-top: 64px;
}

.nav-item {
  height: 48px;
  line-height: 48px;
  padding-right: 16px;
}

.nav-item-text {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;

  position: relative;
  top: 0.25em;
}

.nav-icon {
  display: inline-block;

  margin-left: $icon-keyline;

  color: map-get(map-get($theme, foreground), icon);
}

.nav-description {
  display: inline-block;
  position: relative;
  top: -0.32em;

  margin-left: $description-keyline - $icon-keyline - $icon-size;

  text-decoration: none;
  color: map-get(map-get($theme, foreground), text);
}

.active-module {
  background-color: $md-ripple-background-color;
}
.active-module .nav-description, .active-module .nav-icon {
  color: map-get(map-get($theme, primary), default);
}
