@import '~@angular/material/core/style/_elevation.scss';

$std-increment: 64px;

.main-layout {
  height: 100%;
}

.sidenav {
  width: calc(100% - #{$std-increment});
  max-width: 5 * $std-increment;
}

.toolbar {
  @include md-elevation(4);
}

.toolbar-content {
  vertical-align: middle;
}

.menu-icon {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.5em;
  cursor: pointer;
}

.title {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}
