@import '~@angular/material/theming';

$std-increment: 64px;

.main-layout {
  height: 100%;
}

.sidenav {
  width: calc(100% - #{$std-increment});
  max-width: 5 * $std-increment;
}

.toolbar {
  @include mat-elevation(4);
}

.toolbar-content {
  vertical-align: middle;
}

.noDisplay {
  display:none;
}

.overlay {
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: black;
  opacity:0.5;
  color:orange;
}

.overlaySp {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.toolbar-content > .saxsys_logo {
  max-width: 145px;
  position: absolute;
  top:13px;
  right: 20px;
}

.menu-icon {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.5em;
  cursor: pointer;
}

.title {
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  max-width: 230px;
}
