md-card {
  margin: 20px;
  display: block;
}

chart {
  width:60%;
}

md-list {
  width:40%;
  overflow-y: scroll;
  height:200%;
  float: left;
}

md-card, md-card-content {
  height:40%;
}

.entryList >  md-list-item {
  list-style-type: none;
}

.entryList .colorbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 5px #FFFFFF solid;
  border-radius: 25px;
  margin: 2px;
}

.clickable {
  cursor: pointer;
}
