@import '../../../../theme';

.current-element {
  margin: 7px;
}

.current-title {
  font-size: 16px;
  margin: 5px;
}

.current-label-big {
  margin-right: 4px;
  font-weight: 600;
  color: map-deep-get($theme, foreground, hint-text)
}

.current-value {
  color: map-deep-get($theme, foreground, secondary-text)
}

